body {
    background-color: rgb(220, 198, 162);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lasagna,
.cookies,
.waffles {
    line-height: 1.5;
}

img {
    height: auto;
    width: 900px;
    margin: auto;
    display: block;
    width: 60%;
}

h1 {
    text-align: center;
}

 