body {
    background-color: rgb(220, 198, 162);
}

img {
    height: auto;
    width: 900px;
    margin: auto;
    display: block;
    width: 50%;
}

h1 {
    text-align: center;
}

.home-break{
    height: 50px;
}